body{
    margin: 0;
    padding: 0;
}

.header{
position: absolute;
height: 50px;
width: 100%;
background-color:#ff4500;
}
.sidebar{
    position: absolute;
    width: 100%;
    background-color:#ff0000;
    height: 100vh;
}